.container h2{
  margin: 2rem 0;
  text-align: center;
}
.users {
  padding: 2rem;
}
.user_row {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  gap: 2;
  max-width: 1000px;
  margin: 0 auto;
  align-items: center;
}

.user_row img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;


}